@font-face {
  font-family: 'LeagueSpartan';
  src: url("assets/fonts/LeagueSpartan-VariableFont_wght.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LeagueSpartan";
}

body{
  background-color: rgb(245, 246, 250);
  color: rgb(45,52 ,54);
}

